<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727391881346-3rrmb1igjds89v8gl9k3g467hed3abgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727391881346-3rrmb1igjds89v8gl9k3g467hed3abgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727391881346-gibmucjmeqdr7njm8qopgr2jl8uujobj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc4Q6kYTVlwMjRJyIlkmA16d2pzMpEqYE</string>
	<key>GCM_SENDER_ID</key>
	<string>727391881346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akm.syllabize</string>
	<key>PROJECT_ID</key>
	<string>syllabize-akm</string>
	<key>STORAGE_BUCKET</key>
	<string>syllabize-akm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727391881346:ios:2a82d1ff99f502ee64cc9b</string>
</dict>
</plist>